
/minecraft/logs/
mmc-pack.json
usercache.json
usernamecache.json
instance.cfg
minecraft/config/fancymenu/locals/
instance.cfg
.DS_Store
instance.cfg
minecraft/crash-reports/
minecraft/rhino.local.properties
minecraft/fancymenu_data/last_world.fmdata
minecraft/saves/
minecraft/XaeroWorldMap/*
minecraft/ESM/*
minecraft/screenshots/*
minecraft/XaeroWaypoints/*
minecraft/config/oculus.properties
minecraft/config/reforgium-renderer.properties
minecraft/config/fastload.properties
minecraft/bluemap/web/*
minecraft/config/bluemap/maps/*
minecraft/config/chunky/tasks/*
minecraft/options.txt
