logs/
minecraftinstance.json
.mixin.out/audit/mixin_implementation_report.txt
.curseclient
.mixin.out/
saves/
usercache.json
usernamecache.json
crash-reports/

screenshots/

config/worldedit/worldedit.properties

patchouli_data.json

XaeroWorldMap/
